<!DOCTYPE HTML>

<html>
<head>
    <title>Online Shop</title>
    <meta charset="utf-8" />
    <style>
.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

body {
	background: #F0FFFF; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #F0FFFF, #8DC26F);
	background: -moz-linear-gradient(right, #F0FFFF, #8DC26F);
	background: -o-linear-gradient(right, #F0FFFF, #8DC26F);
	background: linear-gradient(to left, #F0FFFF, #8DC26F);
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
</style>
</head>
<body>
<div class="login-page">
    <h1 style="text-align: center;">Login failed!</h1>
</div>
</body>



</html>